/* Reset default styles */
body, figure, h1, h2, h3, p, ul, li {
  margin: 0;
  padding: 0;
  
}
body{
  scroll-behavior:smooth scroll;
}
a{
  text-decoration: none;
}
/* Global styles */
body {
  font-family: Arial, sans-serif;
  background-color: #f2f2f2;
  color: #333;
  line-height: 1.5;
}
body {
  background: linear-gradient(to bottom, #247304, #bfc0c3);
}

header {
  background-color: #222;
  padding: 20px;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav {
  width: 400px;
  height: 70px;
  background: #fff;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  overflow: hidden;
  z-index: 1;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

nav ul {
  display: flex;
  width: 100%;
  padding: 0;
  margin: 0;
}

nav ul li {
  flex: 1;
  position: relative;
  list-style: none;
  text-align: center;
}

nav ul li a {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  text-decoration: none;
  color: #333;
  transition: transform 0.3s ease;
}

nav ul li:hover a {
  transform: scale(0.9);
}

nav ul li .icon {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 5px;
}

nav ul li .icon i {
  font-size: 1.5rem;
  color: #0e4b06;
}

nav ul li .text {
  font-size: 0.8rem;
  font-weight: bold;
  color: #0e4b06;
  transition: font-size 0.3s ease;
}

nav ul li:hover .text {
  font-size: 0.9rem;
}
 



main {
  max-width: 800px;
  margin: 40px auto;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  text-align: center;
}


h1 {
  font-size: 24px;
  margin-bottom: 20px;
}

form {
  margin-bottom: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.login-container {
  text-align: center;
  margin-top: 50px;
}

.login-container h2 {
  font-size: 30px;
  margin-bottom: 10px;
}

.login-container p {
  font-size: 18px;
  margin-bottom: 20px;
}

.login-btn {
  display: inline-block;
  padding: 10px 20px;
  background-color: #4285F4;
  color: #FFF;
  text-decoration: none;
  border-radius: 4px;
  font-size: 16px;
}

.login-btn:hover {
  background-color: #3367D6;
}

.form-group {
  margin-bottom: 10px;
  flex-basis: 48%;
}

label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}

input[type="text"],
input[type="tel"],
textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

.save-btn{
  background-color: #33961e;
  --bg: #33961e;
  --text-color: #fff;
  position: relative;
  width: 150px;
  border: none;
  background: var(--bg);
  color: var(--text-color);
  padding: 1em;
  font-weight: bold;
  text-transform: uppercase;
  transition: 0.2s;
  border-radius: 5px;
  opacity: 0.8;
  letter-spacing: 1px;
  box-shadow: #0e4b06 0px 7px 2px, #000 0px 8px 5px;
}
.save-btn:hover {
  opacity: 1;
}

.save-btn:active {
  top: 4px;
  box-shadow: #042002 0px 3px 2px,#000 0px 3px 5px;
}
.search-btn {
  background-color: #007bff;
  --bg: #007bff;
  --text-color: #fff;
  position: relative;
  width: 150px;
  border: none;
  background: var(--bg);
  color: var(--text-color);
  padding: 1em;
  font-weight: bold;
  text-transform: uppercase;
  transition: 0.2s;
  border-radius: 5px;
  opacity: 0.8;
  letter-spacing: 1px;
  box-shadow: #0047b2 0px 7px 2px, #000 0px 8px 5px;
}
.search-btn:hover {
  opacity: 1;
}

.search-btn:active {
  top: 4px;
  box-shadow: #042002 0px 3px 2px,#000 0px 3px 5px;
}
.delete-customer-btn{
  --bg: #ff0000;
  --text-color: #fff;
  position: relative;
  width: 150px;
  border: none;
  background: var(--bg);
  color: var(--text-color);
  padding: 1em;
  font-weight: bold;
  text-transform: uppercase;
  transition: 0.2s;
  border-radius: 5px;
  opacity: 0.8;
  letter-spacing: 1px;
  box-shadow: #990000 0px 7px 2px, #000 0px 8px 5px;
}
.delete-customer-btn:hover {
  opacity: 1;
}
.delete-customer-btn:active {
  top: 4px;
  box-shadow: #c0392b 0px 3px 2px,#000 0px 3px 5px;
}

.btns {
  display: flex;
  flex-direction: row;
  gap: 1.5rem;
}

footer {
  background-color: #222;
  padding: 20px;
  color: #fff;
  text-align: center;
}
footer p{
  font-weight: 700;
}
.customerForm{
  padding: 30px;
}
#flash-messages {
  margin-bottom: 20px;
}

.flash-message {
  background-color: #a1b19e;
  color: #333;
  padding: 10px;
  border-radius: 3px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-weight: bold;
}

.flash-message button {
  background: linear-gradient(to bottom, #247304, #bfc0c3);
  color: #000;
  padding: 5px 10px;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}
.complex {
  --c: #fff; /* text color */
  --gradient-start: #247304;
  --gradient-end: #bfc0c3;
  background: linear-gradient(90deg, var(--gradient-start), var(--gradient-end)) var(--_p, 100%)/300% no-repeat, #004dff;
  color: #0000;
  border: none;
  -webkit-transform: perspective(500px) rotateY(calc(20deg*var(--_i,-1)));
  transform: perspective(500px) rotateY(calc(20deg*var(--_i,-1)));
  text-shadow: calc(var(--_i,-1)* 0.08em) -.01em 0 var(--c), calc(var(--_i,-1)*-0.08em) .01em 2px #0004;
  outline-offset: .1em;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}


.complex:hover,
.complex:focus-visible {
  --_p: 0%;
  --_i: 1;
}

.complex:active {
  text-shadow: none;
  color: var(--c);
  -webkit-box-shadow: inset 0 0 9e9q #0005;
          box-shadow: inset 0 0 9e9q #0005;
  -webkit-transition: 0s;
  transition: 0s;
}

.complex {
  font-family: system-ui, sans-serif;
  font-weight: bold;
  font-size: 2rem;
  margin: 0;
  cursor: pointer;
  padding: .1em .3em;
}
.user-profile {
  display: flex;
  align-items: center;
}

.profile-image {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin-right: 5px;
}
